<div class="header section">
  {{#if header}}
  <div class="banner parallax" style="background-image: url('{{{header_image}}}');"></div>
  <div class="title section">
    <h2>{{{title}}}</h2>
  </div>
  {{/if}}
</div>
<div class="body section">
  <div class="wrapper wrapper-section grid">
    <div class="block block-xs-12 image full">
      <img src="/img/floor-plan.png" />
    </div>

    <hr>
  </div>
</div>
