
@auto: #1b1b1b;
@auto_light: lighten(@auto,25%);
@auto_lighter: lighten(@auto,45%);

body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: @auto;
}

header {
  position: relative;
  z-index: 10;
}

main {
  height: 100%;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.83em;
}
h3 {
  font-size: 1.11em;
}

p {
  font-weight: 100;
  font-size: 1em;
  font-size: 0.94em;
  margin-bottom: 2em;
}
blockquote {
  font-weight: 100;
  font-size: 1.44em;
  line-height: 1.25;
  font-weight: 600;
  padding: 1em 0;
}

strong {
  font-weight: bold;
}
em {
  font-size: 0.83em;
  color: @auto_lighter;
}
i {
  font-style: italic;
}

br {
  line-height: 2;
}
hr {
  width: 80%;
  margin: 0 10%;
  padding: 4em 0;
  border: none;
  border-bottom: 1px solid #e3e3e3;
}

ul {
  padding-left: 0.25em;
  line-height: 1.25;
  margin-bottom: 2em;
}
li {
  color: @auto_light;
  font-size: 0.87em;
  list-style-type: disc;
  margin: 0.75em 0 0.75em 1em;
  padding-left: 0.25em;
}

nav {
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 999;

  a {
    display: inline-block;
    color: #fefefe;
    padding: 1em 1.5em;
    text-decoration: none;
  }
}
