/* Wrappers
 **/
.wrapper {
  margin: 0 auto;
  width: 90%;

  &.section {
    max-width: 1024px;

  }
  &.content {
    max-width: 640px;
  }
}


/* Views
 **/
.view-fullscreen {
  height: 100%;
  width: 100%;
}


.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.pad-right {
  padding-right: 3em;
}
